@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 230%;
    padding-left: 25px;
}

section.normaly{
    background-color: rgba(255, 255, 255, 0.033);
    color: black;
}

section.image{
    background-color: black;
    color: white;
}

section.image > p{
    background-color: rgba(51, 51, 51, 0.066);
    width: 400px;
}

footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}