@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Gavena, Tahoma, sans-serif;
    --fonte2: 'Passion One', sans-serif;
    --fonte3: 'Sriracha', cursive;
}
*{
    margin: 0px;
    padding: 0px;
}

html, body{
    font-family: var(--fonte1);
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    font-family: var(--fonte2);
    font-size: 3.5em;
    padding-top: 50px;
    font-variant: small-caps;
}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    font-family: var(--fonte3); 
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 230%;
    padding-left: 25px;
}

section> p{
    padding-bottom: 2em;
}

section.normaly{
    background-color: rgba(255, 255, 255, 0.033);
    color: black;
}

section.image{
    background-color: black;
    color: white;
    box-shadow: inset 5px 5px 12px 0px rgba(0, 0, 0, 0.314);
    background-size: cover;
    background-attachment: fixed;
}

section.image > p{
    background-color: rgba(0, 0, 0, 0.567);
    display: inline-block;
    padding: 5px;
    text-shadow: 2px 2px 0px black ;
    
}

#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    
}

#img02{
    background-image: url('../imagens/background002.jpg'); 
}

footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}